/*
.header {
    margin: 2rem 2rem;
    background-color: #2e7d32;
    color: azure;
    border-radius: 1.25em;
    margin-left: 1.25em;
    padding-left:3%;
    

}

.main {
    
    
    li {
        border-radius: 10%;
        padding-top: 5px;
        list-style: none;
    } 
        
}

*/