.header {
  margin: 2rem;
  background-color: #2e7d32;
  color: azure;
  border-radius: 1.25em;
  padding: 1.5rem;
}

.main {
  margin: 0 1.25em;
  list-style: none;
  grid-area: tarefas;
  height: 100%;
  background-color: #f2f2f2; /* Adicionado plano de fundo */

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, serif;
  }

  ul {
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  /* Estilos de hover */
  a:hover,
  button:hover {
    opacity: 0.8; /* Reduz a opacidade em hover */
  }

  @media screen and (min-width: 1280px) {
    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    ul {
      max-height: 500px;
    }
  }
}
