.main {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.6125remem;
    margin-left: 3px;
    display: flex;
    p {
        margin-left: 0.25em;
    }
    
}
.main:hover {
    opacity: 80%    ;
    color: red;
}

h2:hover {
    opacity: 80%    ;
    color: red;
}





.cardApp {
    margin-left: 6px;
    padding: 8px;
 }


li {
    list-style: none;
    margin: 0.25em;
}

h2 {
     margin-left: 6px;
   
}


